<div class="row">
    {{#each notes}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        {{ title }}
                        <h4\>
                            <p>{{description}}</p>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>