  <div class="container-login">
  
    <div class="col-md-3 mx-auto">

      <div class="card">
        <div class="card-body">
          
          <div class="ico-user">

          </div>
          
              <div class="form-group">
                <input type="text" id="login" class="form-control" name="login" placeholder="login">
              </div>
              <div class="form-group">

                <input type="text" id="password" class="form-control" name="login" placeholder="password">
              </div>
              <div class="form-group">
                <div class="d-grid gap-2">

                    <button class="btn btn-primary" type="submit">Acceder</button>
                </div>
              </div>
          
          </form>

          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
        </div>
      </div>

    </div>
</div>
    


   
